<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/premier"></ion-back-button>
    </ion-buttons>
    <ion-title>League Table</ion-title>
  </ion-toolbar>
 </ion-header>
 

<ion-content>
<ion-header>
  <ion-toolbar>
  <ion-title class="bold">Premier League Table 2019/20</ion-title>
</ion-toolbar>
</ion-header>
<ion-header>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="bold" colour="dark">Position</ion-col>
        <ion-col  class="bold" colour="dark" size="4">Team</ion-col>
        <ion-col  class="bold" colour="dark">Points</ion-col>
        <ion-col  class="bold" colour="dark">Played</ion-col>
        <ion-col  class="bold" colour="dark"> Won</ion-col>
        <ion-col  class="bold" colour="dark">Lost</ion-col>
        <ion-col  class="bold" colour="dark">Drawn</ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngFor="let f of premierData">
          <ion-grid>
            <ion-row>
              <ion-col class="bold" colour="dark">{{f.pos}}</ion-col>
              <ion-col class="bold" colour="dark" size="4">{{f.name}} </ion-col>
              <ion-col class="bold" colour="dark">{{f.code}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.played}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.won}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.lost}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.drawn}}</ion-col>

            </ion-row>
            </ion-grid>
    </ion-list>
  </ion-toolbar>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Liverpool_FC.svg/1200px-Liverpool_FC.svg.png"height="50" width="50"(dblclick)=show()>

  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Manchester_City_FC_badge.svg/1200px-Manchester_City_FC_badge.svg.png"height="50" width="50"(dblclick)=show()>

  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/Leicester_City_crest.svg/1200px-Leicester_City_crest.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/1200px-Chelsea_FC.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/1200px-Manchester_United_FC_crest.svg.png"height="50" width="50"(dblclick)=show()>
</ion-header>
</ion-content>