<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/premier"></ion-back-button>
    </ion-buttons>
    <ion-title>League Table</ion-title>
  </ion-toolbar>
 </ion-header>
 <!--above i have created a header for the page. there is also a back putton which brings the user to the previous page-->
 
 <!--here is a title that tells us this is the premier league table-->
<ion-content>
<ion-header>
  <ion-toolbar>
  <ion-title class="bold">Premier League Table 2019/20</ion-title>
</ion-toolbar>
</ion-header>
<ion-header>
  <!--i then created a grid in order to input the json data-->
  <!--i have set the text to bold using the css class and changed the colour to dark-->
  <!--each row shows the headers of the columns, then every teams details-->
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="bold" colour="dark">Position</ion-col>
        <ion-col  class="bold" colour="dark" size="4">Team</ion-col>
        <ion-col  class="bold" colour="dark">Points</ion-col>
        <ion-col  class="bold" colour="dark">Played</ion-col>
        <ion-col  class="bold" colour="dark"> Won</ion-col>
        <ion-col  class="bold" colour="dark">Lost</ion-col>
        <ion-col  class="bold" colour="dark">Drawn</ion-col>
      </ion-row>
    </ion-grid>
    <!--here we are displaying the json data. this is very useful as it limits the amount of code to be written-->
    <ion-list *ngFor="let f of premierData">
          <ion-grid>
            <ion-row>
              <ion-col class="bold" colour="dark">{{f.pos}}.</ion-col>
              <ion-col class="bold" colour="dark" size="4">{{f.name}} </ion-col>
              <ion-col class="bold" colour="dark">{{f.code}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.played}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.won}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.lost}}</ion-col>
              <ion-col class="bold" colour="dark">{{f.drawn}}</ion-col>

            </ion-row>
            </ion-grid>
    </ion-list>
  </ion-toolbar>
  <!--the following is quite a lot to look at, but it is the same function regurgitated essentially-->
  <!--this is displaying an image at the bottom of the table. each representing a team in the league-->
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Liverpool_FC.svg/1200px-Liverpool_FC.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Manchester_City_FC_badge.svg/1200px-Manchester_City_FC_badge.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/Leicester_City_crest.svg/1200px-Leicester_City_crest.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/1200px-Chelsea_FC.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/1200px-Manchester_United_FC_crest.svg.png"height="50" width="50"(dblclick)=show()>

  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fc/Wolverhampton_Wanderers.svg/1200px-Wolverhampton_Wanderers.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9c/Sheffield_United_FC_logo.svg/180px-Sheffield_United_FC_logo.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b4/Tottenham_Hotspur.svg/1200px-Tottenham_Hotspur.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Arsenal_FC.svg/1200px-Arsenal_FC.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/Burnley_F.C._Logo.svg/1200px-Burnley_F.C._Logo.svg.png"height="50" width="50"(dblclick)=show()>

  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Crystal_Palace_FC_logo.svg/1200px-Crystal_Palace_FC_logo.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7c/Everton_FC_logo.svg/1200px-Everton_FC_logo.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Newcastle_United_Logo.svg/1200px-Newcastle_United_Logo.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c9/FC_Southampton.svg/1200px-FC_Southampton.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fd/Brighton_%26_Hove_Albion_logo.svg/1200px-Brighton_%26_Hove_Albion_logo.svg.png"height="50" width="50"(dblclick)=show()>

  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/West_Ham_United_FC_logo.svg/1200px-West_Ham_United_FC_logo.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e2/Watford.svg/1200px-Watford.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/AFC_Bournemouth_%282013%29.svg/170px-AFC_Bournemouth_%282013%29.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f9/Aston_Villa_FC_crest_%282016%29.svg/1200px-Aston_Villa_FC_crest_%282016%29.svg.png"height="50" width="50"(dblclick)=show()>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Norwich_City.svg/1200px-Norwich_City.svg.png"height="50" width="50"(dblclick)=show()>

</ion-header>
</ion-content>